# --- [Visual Studio / C++ 항목] ---
.vs/
Debug/
Release/
x64/
x86/
*.user
*.suo
*.pdb
*.ilk
*.aps
*.ncb
*.cache
bin/
obj/

# --- [Unity 항목] ---
[LogFiles]/
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svntmp

# --- [Protobuf / 공용 항목] ---
# 자동 생성된 소스파일을 제외하고 싶다면 추가 (직접 관리한다면 생략)
*.pb.cc
*.pb.h

# OS 관련
.DS_Store
Thumbs.db

# Config 파일
config.json